.jumbotron {
    position: relative;
    background-image: url('../Assets/heroImage.jpg');
    height: 900px;
    background-size: cover;
    background: contain;
    color: #ffffff;
    text-align: left;
    padding: 150px 25px;
    margin-bottom: 0;
  }
  .jumbotron-text {
    background-color: rgba(83, 82, 82, 0.193); /* Semi-transparent background */
    padding: 20px;
    border-radius: 30px;
    max-width: 500px;
  }
  .features {
    padding: 80px 0;
  }
  .feature-box {
    text-align: center;
  }
  .testimonial {
    background-color: #e9ecef;
    padding: 80px 0;
  }

/* Button styling */
  .stylish-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #e8e0e0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px; 
    background: linear-gradient(45deg, #6a251c, #571616); 
    box-shadow: 0 4px 8px rgba(100, 98, 98, 0.572); /* Shadow effect */
    transition: background 0.3s, transform 0.3s; /* Smooth transitions */
  }

  .stylish-button:hover,
  .stylish-button:focus {
    /* background: linear-gradient(45deg, #6fcacc, #366b3a);   */ 
    box-shadow: 0 4px 8px rgba(186, 185, 185, 0.572); /* Shadow effect */
    transform: scale(1.05); /* Slight zoom effect on hover */
    outline: none; /* Remove default outline */
  }